@font-face {
    font-family: 'LeagueSpartanVariable';
    src: url(fonts/LeagueSpartanVariable.woff2) format('truetype'); 
    font-weight: 200 900;
}

@font-face {
    font-family: 'BandeinsSansVariableGX';
    src: url('fonts/BandeinsSansVariableGX.ttf') format('truetype');
    font-weight: 200 900;

}

.copy {
    text-align: center;
    font-size: 1rem;
}

header {
    font-size: 3rem;
    margin-bottom: 2rem;
    border-bottom: solid .2rem black;
    width: 40rem;
}

h1 {
    color: #5A5A5A;
    font-family: "LeagueSpartanVariable";
    font-weight: 450;
}

iframe{
    border: solid .2rem black;
}

.feedback {
    background-color: #FFD0D0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 87rem;
}

.first, .second, .third, .fourth, .fifth {
    border: solid .3rem #CCEBE6;
    margin-bottom: 2rem;
    margin-left: 2rem;
    width: 40rem;

}

.fifth {
    border: solid .3rem #CCEBE6;
    margin: 0 auto;
    width: 40rem;
}

.firstpara{
    font-size: 1.3rem;
    padding: 0 2rem 0 2rem
}

.foot{
    background-color: rgb(255, 244, 224);
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: .1rem 0 .1rem 0;
    text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: auto auto ;
/*     align-items: center;
    max-width: 50rem; */
}

.lists {
    font-family:'LeagueSpartanVariable' ;
    font-size: 1.2rem;
    width: 36rem;
}

.listfeed{
    font-family:'LeagueSpartanVariable' ;
    font-size: 1.2rem;
}

.randf{
    background-color: rgb(250, 250, 250);
    margin-top: 1rem;
    padding: 1rem;
    width: 87rem;
}

.stateonehead, .statetwohead, .firsthead, .secondhead, .thirdhead, .fourthhead, .fifthhead{
    font-family: 'LeagueSpartanVariable';
    font-size: 1.5rem;
    padding-left: 1rem;
}

.trighead, .rfhead {
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
}


.trigger {
    background-color: #CCEBE6;
    margin-top: 1rem;
    padding: 1rem;
    width: 87rem;
}

.trigex{
    font-family: 'LeagueSpartanVariable';
    font-size: 1.3rem;
    padding-left: 1rem;
}

.video{
    text-align: center;
}

.yellow {
    border: solid .2rem rgb(241, 232, 144);
    width: 87rem;
    margin: 0 auto;
    padding: 1rem;
}

.yellowhead{
    font-size: 2.2rem;
    padding-left: 1rem;
}